<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
    <world name="ocean">
        <gravity>0.0 0.0 0.0</gravity>
		
        <!--GLOBAL LIGHT SOURCE-->
        <include>
            <uri>model://sun</uri>
        </include>

        <scene>
			<sky>
				<clouds>
					<speed>12</speed>
				</clouds>
			</sky>
			<grid>0</grid>
			<origin_visual>0</origin_visual>
		</scene>

        <physics type="ode">
            <ode>
                <solver>
                    <type>world</type>
                </solver>
            </ode>
            <max_step_size>0.01</max_step_size>
            <real_time_update_rate>100.0</real_time_update_rate>
        </physics>
    </world>
</sdf>