<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
    <world name="ocean">
      <gui fullscreen='0'>
          <camera name='user_camera'>
            <pose>-85.03 -3.517 26.21 0 0.212 -0.0332</pose>
          </camera>
      </gui>

      <xacro:include filename="$(find eboat_gazebo)/worlds/ocean.xacro" />
      <xacro:ocean />

      <include>
            <name>buoy_red</name>
            <pose>35 5 0 0 0 0 0</pose>
            <uri>$(find eboat_description)/models/buoy_red</uri>
        </include>

        <include>
            <name>buoy_green</name>
            <pose>45 0.0 0 0 0 0 0</pose>
            <uri>$(find eboat_description)/models/buoy_green</uri>
        </include>

        <include>
            <name>buoy_yellow</name>
            <pose>-20.0 10.0 0 0 0 0 0</pose>
            <uri>$(find eboat_description)/models/buoy_yellow</uri>
        </include>

      <!--PHYSICS ENGINE-->
        <physics type="ode">
          <ode>
              <solver>
                  <type>world</type>
              </solver>
          </ode>
          <max_step_size>0.01</max_step_size>
          <real_time_update_rate>3000</real_time_update_rate>
      </physics>
    </world>
</sdf>