<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
    <world name="ocean">
      <gui fullscreen='0'>
          <camera name='user_camera'>
            <pose>-85.03 -3.517 26.21 0 0.212 -0.0332</pose>
          </camera>
      </gui>

      <xacro:include filename="$(find eboat_gazebo)/worlds/ocean.xacro" />
      <xacro:ocean />

      <!--WAYPOINT OBJECT-->
        <!--<include>
            <name>wayPointMarker</name>
            <pose>200.0 0.0 0 0 0 0</pose>
            <uri>$(find eboat_description)/models/wayPointMarker</uri>
        </include>-->
        <!--<include>
            <name>redBuoy</name>
            <pose>110.0 5.0 0 0 0 0</pose>
            <uri>$(find eboat_description)/models/buoy_red</uri>
        </include>-->

        <!--PHYSICS ENGINE-->
        <physics type="ode">
          <ode>
              <solver>
                  <type>world</type>
              </solver>
          </ode>
          <max_step_size>0.01</max_step_size>
          <real_time_update_rate>100.0</real_time_update_rate>
      </physics>

      <!--Wind. Note, wind parameters are set in the plugin.-->
      <!--<xacro:include filename="$(find eboat_gazebo)/worlds/usv_wind_plugin.xacro"/>
      <xacro:usv_wind_gazebo topic_wind_speed="/ocean/debug/wind/speed"
          topic_wind_direction="/ocean/debug/wind/direction"
          direction="270"
          mean_vel="5">
        <wind_objs>
          <wind_obj>
            <name>eboat</name>
            <link_name>biruta_link</link_name>
            <coeff_vector>0.5 0.5 0.33</coeff_vector>
          </wind_obj>
      </xacro:usv_wind_gazebo>-->
    </world>
</sdf>