<?xml version="1.0" ?>

<!-- Macro to insert the ocean in the world -->
<world xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="ocean">
        <scene>
			<sky>
				<clouds>
					<speed>12</speed>
				</clouds>
			</sky>
			<grid>0</grid>
			<origin_visual>0</origin_visual>
		</scene>

        <spherical_coordinates>
            <surface_model>EARTH_WGS84</surface_model>
            <world_frame_orientation>ENU</world_frame_orientation>
            <latitude_deg>43.08</latitude_deg>
            <longitude_deg>22.92</longitude_deg>
            <elevation>0.0</elevation>
            <!-- For legacy gazebo reasons, need to rotate -->
            <!--<heading_deg>180</heading_deg>-->
        </spherical_coordinates>

        <!---->
        <gravity>0.0 0.0 -9.81</gravity>
		
        <!--GLOBAL LIGHT SOURCE-->
        <include>
            <uri>model://sun</uri>
        </include>

        <!-- Plugin to control atmosferic physics-->
        <plugin name="atmosferic_control" filename="libAtmosfericControlPlugin.so"/>
	
	</xacro:macro>

    <!--WAVES-->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <!--<xacro:ocean_waves scale="2.5"/>-->
    <xacro:ocean_waves scale="3.5" gain="0.2" direction_x="0" direction_y="1"/>

</world>