<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
    <world name="ocean">

        <gui fullscreen='0'>
            <camera name='user_camera'>
                    <track_visual>
                    <name>eboat</name>
                    <static>true</static>
                    <use_model_frame>true</use_model_frame>
                    <!--<xyz>-18 0 5</xyz>-->
                    <!--<xyz>-10.8 -6.44 2.5</xyz>-->
                    <xyz>-10.8 -6.44 1.5</xyz>
                    <!--<xyz>-15 0 4</xyz>-->
                    <inherit_yaw>true</inherit_yaw>
                </track_visual>
            </camera>
        </gui>
        
        <xacro:include filename="$(find eboat_gazebo)/worlds/ocean.xacro" />
        <xacro:ocean />

        <physics type="ode">
            <ode>
                <solver>
                    <type>world</type>
                </solver>
            </ode>
            <max_step_size>0.01</max_step_size>
            <real_time_update_rate>100.0</real_time_update_rate>
        </physics>

    </world>
</sdf>