<?xml version="1.0"?>
<model>
  <name>fortune612/name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Eduardo Charles Vasconcellos</name>
    <email>charles.edu@gmail.com</email>
  </author>

  <description>
    One meter generic sailboat
  </description>
</model>
