<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_dynamics_gazebo" params="name">
    <!--Gazebo Plugin for simulating EBoat dynamics-->
    <gazebo>
      <plugin name="usv_dynamics_${name}" filename="libusv_gazebo_dynamics_plugin.so">
        <bodyName>base_link</bodyName>
        <!-- Must be same as the ocean model!-->
        <waterLevel>0</waterLevel>
        <waterDensity>997.0</waterDensity>
        <!-- Added mass -->
        <xDotU>0</xDotU>
        <yDotV>124</yDotV>
        <zDotW>148</zDotW>
        <kDotP>0.0</kDotP>
        <mDotQ>0.0</mDotQ>
        <nDotR>0.0</nDotR>
        <!-- Linear and quadratic drag -->
        <xU>${0.2 * 51.3}</xU>
        <xUU>${0.2 * 72.4}</xUU>
        <yV>${0.2 * 80.0}</yV>
        <yVV>${0.2 * 1600.0}</yVV>
        <zW>${0.5 * 500.0}</zW>
        <zWW>0.0</zWW>
        <kP>${0.5 * 50.0}</kP>
        <mQ>${0.5 * 50.0}</mQ>
        <nR>${0.2 * 400.0}</nR>
        <nRR>0.0</nRR>
        <!-- General dimensions -->
        <!--<boatArea>2.2</boatArea>-->
        <!--<hullRadius>0.47</hullRadius>-->
        <hullRadius>0.4</hullRadius>
        <boatWidth>0.9</boatWidth>
        <boatLength>2.4</boatLength>
        <!-- Length discretization, AKA, "N" -->
        <length_n>2</length_n>
        <!-- Wave model -->
        <wave_model>ocean_waves</wave_model>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>