<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="eboat">

  <!-- Include dynamics macros -->
  <xacro:include filename="$(find eboat_description)/urdf/eboat_dynamics_plugin.xacro" />

  <!-- Include liftdrag macros -->
  <xacro:include filename="$(find eboat_description)/urdf/eboat_liftdrag_plugin.xacro" />

  <!-- Include sail control plugin -->
  <!--<xacro:include filename="$(find eboat_description)/urdf/eboat_control_plugins.xacro" />-->

  <!-- Macro for hack supports in EBoat3 URDF model-->
  <xacro:macro name="visual_link" params="name xyz rpy">
    <link name="${name}_link">
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <mesh filename="package://eboat_description/models/eboat/meshes/${name}.stl"/>
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <xacro:macro  name="rope_joints" params="name parent child xyz rpy">
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="support_hack" params="name xyz rpy">
    <link name="support_hack_${name}_link">
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}" />
        <geometry>
          <mesh filename="package://eboat_description/models/eboat/meshes/support_hack_${name}.stl"/>
        </geometry>
        <material name="support_hack_${name}_material">
          <color rgba="0 0 0 1.0"/>
        </material>
      </visual>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0" />
        <inertia ixx="0" ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="support_hack_joint" params="name xyz rpy">
    <joint name="support_hack_${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="deck_link" />
      <child link="support_hack_${name}_link" />
      <axis xyz="0 0 1"/>
      <limit effort="1" velocity="20" />
      <joint_properties friction="0.0"/>
    </joint>
  </xacro:macro>

</robot>